<!DOCTYPE html>
<html ng-app="miApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="es" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="index.js"></script>

    <link rel="stylesheet" href="index.css" />
</head>

<body ng-controller="miControlador">
    <h1> Películas</h1>

    <form name="pelicula-form">
        <label for="genero">Selecciona un género:</label>
        <select id="genero" name="genero" ng-model="selectedGenre" ng-change="obtenerPeliculas()">
            <option value="">Todos los géneros</option>
            <option ng-repeat="genero in generos" value="{{genero.slug}}">{{genero.name}}</option>
        </select>
    </form>

    <table class="peliculas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pelicula in peliculas">
                <td>{{pelicula.title}}</td>
                <td>{{pelicula.description}}</td>
                <td><img ng-src="{{pelicula.poster.url}}" alt="{{pelicula.title}}" /></td>
                <td><a href="#/movie/{{pelicula.id}}">Detalles</a></td>
            </tr>
        </tbody>
    </table>

    <!-- <div ng-view></div> -->
</body>

</html>