body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

select {
  padding: 8px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  /* rounded */
  border-radius: 5px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 85%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

/* Efecto de carga para las imágenes */
img.loading {
  filter: grayscale(100%);
}

/* Animación para el efecto de carga */
@keyframes fadeIn {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

img.loading {
  animation: fadeIn 1s ease-in-out;
}
