{% load static %}

<link rel="stylesheet" href='{% static "css/crear_alumno.css" %}' type="text/css" />

<div class="modal fade" id="modalAgregarAlumno" tabindex="-1" role="dialog" aria-labelledby="modalAgregarAlumnoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Alumno a {{ asignatura.nombre }}</h5>
                <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <select class="form-select" id="seleccionarAlumno">
                    </select>
                    <div class="invalid-feedback">Selección inválida</div>
                </div>
                <form id="formularioCrearAlumno" method="POST" action="{% url 'crear_alumno' 0 %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="editNombre">Nombre alumno</label>
                        <input type="text" class="form-control" id="addNombre" name="nombre" required="true"
                            autocomplete="nope">
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="editCodigo">Apellido paterno</label>
                            <input type="text" class="form-control" id="addApellidoPaterno" name="apellido_paterno"
                                required="true" autocomplete="nope">
                        </div>
                        <div class="col">
                            <label for="editCodigo">Apellido materno</label>
                            <input type="text" class="form-control" id="addApellidoMaterno" name="apellido_materno"
                                required="true" autocomplete="nope">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editCodigo">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="addFechaNacimiento" name="fecha_nacimiento"
                            required="true">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>