{% load static %}
<link rel="stylesheet" href='{% static "css/modificar_asignatura.css" %}' type="text/css" />

<!-- Modal de Edición de Asignatura -->
<div class="modal fade" id="modalEditarAsignatura" tabindex="-1" role="dialog" aria-labelledby="modalEditarAsignaturaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarAsignaturaLabel">Editar Asignatura</h5>
          <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario de Edición de Asignatura -->
          
          <form id="formularioEditarAsignatura" method="POST" action="{% url 'modificar_asignatura' 0 %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
              <label for="editNombre">Nombre asignatura</label>
              <input type="text" class="form-control" id="editNombre" name="nombre" required="true">
            </div>
            <div class="form-group">
              <label for="editCodigo">Código asignatura</label>
              <input type="text" class="form-control" id="editCodigo" name="codigo" required="true">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" id="btnGuardarEdicion">Guardar</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  