{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script type="text/javascript">
            
        </script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Movies</h3>
            <form action="">
                <select name="genres" id="genres" >
                        <option value=""></option>
                </select>
            </form>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Imagen</td>
                        <td>detalles</td>
                    </tr>
                </thead>
                <tbody>
                        <tr>                   
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>